/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
}

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    max-width: 1920px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-end {
    align-items: end;
}

.row-reverse {
    flex-direction: row-reverse;
}

.header-navbar div {
    padding: 1rem;
}

footer nav {
    background-color: #7fffd4;
}

.link-list li {
    list-style-type: none;
    margin: 0 1.5rem;
    font-size: .9rem;
    cursor: pointer;
}

ul.link-list {
    justify-content: center;
}

footer > div:first-of-type {
    border-bottom: 3px solid #d3d3d3;
}

.footer-head {
    padding-top: 1rem;
}

.header-navbar .login {
    text-align: right;
}

.button {
    border-radius: 5rem;
    padding: .5rem .7rem;
    font-size: .9rem;
    cursor: pointer;
    border: 0;
}

.width-70 {
    width: 70%;
    max-width: 1344px;
}

.width-50 {
    width: 50%;
    max-width: 960px;
}

.width-40 {
    width: 40%;
    max-width: 768px;
}

.width-30 {
    width: 30%;
    max-width: 576px;
}

.width-20 {
    width: 20%;
    max-width: 384px;
}

.width-12-5 {
    width: 12.5%;
    max-width: 240px;
}

.width-15 {
    width: 15%;
    max-width: 288px;
}

.height-900-px {
    height: 900px;
}

.height-800-px {
    height: 800px;
}

.height-500-px {
    height: 500px;
}

.height-400-px {
    height: 400px;
}

.height-60-px {
    height: 60px;
}

.height-50-px {
    height: 50px;
}

.dashed-border {
    border: 2px dashed black;
}

.bg-white {
    background-color: white;
}

.bg-dark-blue {
    background-color: #00008b;
}

.bg-light-grey {
    background-color: #f6f6f6;
}

.bg-pink {
    background-color: #ee82ee;
}

.bg-green {
    background-color: #228b22;
}

.bg-black {
    background-color: #23272a;
}

.bg-dark-pink {
    background-color: #f08080;
}

.bg-dark-teal {
    background-color: #20b2aa;
    border-color: white;
}

.bg-violet {
    background-color: #8ea1e1;
}

.text-white {
    color: white;
}

.header-section {
    text-align: center;
    margin: 5.2rem 0;
    padding-bottom: 5rem;
}

.header-section > h1 {
    font-size: 3.5rem;
}

.header-section > p {
    padding: 2rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.header-section .button, .big-container .button {
    font-size: 1.2rem;
    padding: .7rem 2rem;
    margin: 0 1rem 0 1rem;
}

.container {
    padding: 7rem 0;
}

aside * {
    padding: 2rem 2rem 0.5rem 2rem;
    margin: 0 3rem;
}

.big-container > aside {
    text-align: center;
}

.big-container h2 {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 2rem;
}

.container h1 {
    font-size: 2.7rem;
}

.container p {
    font-size: 1.3rem;
}

.footer-head h2 {
    color: #8ea1e1;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.footer-head span {
    margin-bottom: 1.5rem;
}

.footer-head span > img {
    width: 18px;
}